html,
body {
    height: 100%;
}

.container{
    width: 100%;
}

@media (max-width: 768px){
    nav {
        display: none;
    }
}

@media (min-width: 992px){
    nav {
        width: 20% !important;
    }
    
    section{
        margin-left: 20% !important;
        width: 80% !important;
    }
}

.contenido{
	padding: 70px 15px 20px;
/*     height: calc(100% - 60px); */
}

nav{
    z-index: 5;
    padding: 50px 0 0 0;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #dcdcdc;
}

footer {
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    bottom: 0;
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.profile-picture{
	font-size: 55px;
}

.borde-izquierdo{
	border-left: 1px solid #ccc;
}

.divider{
	border-bottom: 2px solid #ccc;
	margin-bottom: 15px;
}

.dividerDelgado{
	border-bottom: 1px solid #ccc;
	margin-bottom: 15px;
}

.txt-mediano{
	font-size: 1.3em;
}

.jumbotron {
	padding-right: 60px;
    padding-left: 60px;
	border-radius: 6px;
    text-align: center;
    background-color: transparent;
}

.jumbotron .actionbutton {
    font-size: 21px;
    padding: 14px 24px;
}

.form-control {
	height: 34px !important;
}

.i-inline{
	display: inline-block;
    font-size: 13px;
}

.inline{
	display: inline-block;
}

.card{
	margin: 10px;
	border: 1px solid #dcdcdc;
    padding: 5px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.card > h1{
	margin-top: 2px;
}