<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"> 

<h:head>
	<title>UnillanosCarShare</title>
	<link rel="stylesheet" href="resources/lib/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="resources/lib/bootstrap-datepicker/css/bootstrap-datepicker3.min.css"/>
    <link rel="stylesheet" href="resources/css/estilos.css"/>      
    <script src="resources/lib/jquery1.11.2.js"></script>      
    <script src="resources/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="resources/lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script> 
    <script src="resources/lib/bootstrap-datepicker/locales/bootstrap-datepicker.es.min.js"></script> 
    <script type="text/javascript" src="resources/js/funciones.js"></script>
</h:head> 
<body>
	<header>
		<div class="navbar-inverse navbar-fixed-top navbar" role="navigation">
			<div style="float:left; width:5%; height:100%">
		    	<img src="resources/img/COCHE.png" width="70" height="50"></img>
		    </div>
			<div class="container" style="float:right; width:95%; height:100%;">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#w1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/UnillanosCarShare">UnillanosCarShare</a>
				</div>
				<div class="collapse navbar-collapse">
				<ul class="navbar-nav navbar-right nav">
					<li class="active"><a href="/UnillanosCarShare">Inicio</a></li>
					<li><a href="/UnillanosCarShare/busqueda.jsf">Busqueda</a></li>
					<h:panelGroup rendered="#{not empty usuario}">
						<li><a href="/UnillanosCarShare/publicar.jsf">Publicar Recorrido</a></li>
					    <li class="dropdown">
                        <a href="#" style="padding:0px;padding-top:10px;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span>
                        <img style="width:30px;height:30px;border: 1px solid #FFFFFF;" src="resources/img/profile.png"/>
                        </span>
                        <strong>#{usuario.nombre}</strong>
                        <span class="caret"></span></a>
                        <ul class="dropdown-menu" style="margin-top:10px;">
                        	<li> 
                        		<h:form>
	                        	<h:commandButton value="Cerrar Sesión" action="#{loginController.cerrarSesion()}"/> 
	                        	</h:form>
                        	</li>
                        </ul>
                        </li>
					</h:panelGroup>
					<h:panelGroup rendered="#{empty usuario}">
                 	<li>
                 	<!-- Login -->
                 	<a class="dropdown-toggle" href="#" data-toggle="dropdown">Iniciar sesión<strong class="caret"></strong></a>
                 	<ul class="dropdown-menu">
                 		<li style="width:305px;padding:10px;" id="li-menu-login">
						<h:form method="post" id="formLogin">
							<div class="input-group" style="margin-bottom: 10px;width: 100%;">
								
								<h:outputLabel styleClass="control-label" value="Usuario: " />
								<div class="input-group" style="width: 100%;">
									<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
									<h:inputText value="#{loginModel.usuario}" id="usuario" styleClass="form-control"/>
								</div>
							</div>
										
							<div class="input-group" style="margin-bottom: 15px;width: 100%;">
								<h:outputLabel styleClass="control-label" value="Contraseña: " />
								<div class="input-group" style="width: 100%;">
									<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
									<h:inputSecret value="#{loginModel.contrasenia}" id="contrasenia" styleClass="form-control"/>
								</div>
							</div>
							<div class="divider"></div>
							<h:commandButton action="#{loginController.login()}" styleClass="btn btn-primary" style="margin-bottom: 15px;float:right;" value="Iniciar sesión"/>
						</h:form>
						</li>
					</ul>
                 	</li>
                 	</h:panelGroup>
				</ul>       
	    		</div>
	   		</div>
		</div>
	</header>
	<ui:insert name="contenido">
	</ui:insert>
	<footer>
		<div class="container">
			<small>
			&copy;2015 UnillanosCarShare
			</small>
		</div>
	</footer>
</body> 
</html>
