<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"> 
      
<h:head>
	<link rel="stylesheet" href="resources/lib/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="resources/css/estilos.css"/>      
    <script src="resources/lib/jquery1.11.2.js"></script>      
    <script src="resources/lib/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="resources/js/funciones.js"></script>
</h:head>       
      

<ui:composition template="resources/templates/template.xhtml">
		<ui:define name="contenido">
				<div class="contenido">	
					<div class="col-sm-10 col-sm-offset-1" style="margin-bottom: 60px;">
						<h3>Búsqueda de Recorrido</h3>
							<h:form id="formBusqueda">
							<div class="row">
			                    <div class="form-group col-sm-3">
			                    	<div class="input-group">
			                    		<div class="input-group-addon"><span class="glyphicon glyphicon-record"></span></div>
										<h:inputText styleClass="form-control" id="desde" value="#{busquedaModel.desde}"/>
			                    	</div>
			                    </div>
			                    <div class="form-group col-sm-1">
			                        <a href="#" id="change-button" style="margin-top: 3px;" class="btn btn-default"><span class="glyphicon glyphicon-transfer"></span></a>
			                    </div>
			                    <div class="form-group col-sm-3">
			                    	<div class="input-group">
			                    		<div class="input-group-addon"><span class="glyphicon glyphicon-ok-circle"></span></div>
										<h:inputText styleClass="form-control" id="hasta" value="#{busquedaModel.hasta}"/>
			                    	</div>
			                    </div>
			                  <div class="form-group date col-sm-3">
				                  <div class="input-group date input-sidebar">
				                  		<h:inputText styleClass="form-control input-medium"  id="fecha" value="#{busquedaModel.fecha}"/>
				                      <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i>
				                      </span>
				                  </div>
			                  </div>
			                  <div class="form-group date col-sm-2">
			                    <h:commandButton styleClass="btn btn-primary btn-sm" style="width:100%" value="Buscar" action="#{busquedaController.buscar}" />
			                  </div>
			                  
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Reservar Cupo</button>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Reservar Cupo</h4>
      </div>
      <div class="modal-body">
        <div class="row">
			<div class="col-sm-3">
				<div class="col-sm-4">
					<i class="profile-picture glyphicon glyphicon-user"></i>
				</div>
				<div class="col-sm-8">
					<h4><h:outputText value="#{recorrido.getPersona().getNombre()}" /></h4>
					<p><h:outputText value="#{recorrido.getPersona().getCargo()}" /></p>
				</div>
			</div>
			<div class="col-sm-9 borde-izquierdo" style="margin-bottom: 10px;">
				<div class="col-sm-8">
					<h4><h:outputText value="#{recorrido.getFhIda()}" /></h4>
					<p>Ida: <b><h:outputText value="#{recorrido.getFhIda()}"/></b> Vuelta: <b><h:outputText value="#{recorrido.getFhVuelta()}"/></b></p>
					<div>
						<i class="i-inline glyphicon glyphicon-record"></i>
						<p class="inline"><h:outputText value="#{recorrido.getFuente()}"/></p>
					</div>
					<div class="row">
						<div class="col-sm-3">
							<b>Paradas:</b>
							<i class="i-inline glyphicon glyphicon-record"></i>
						</div>
						<div class="borde-izquierdo col-sm-9">
							<ui:repeat value="#{recorrido.getParadas()}" var="parada">
								<div>
									<i class="i-inline glyphicon glyphicon-plus-sign"></i>
									<p class="inline" ><h:outputText value="#{parada}"/></p>
								</div>
							</ui:repeat>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3">
							<b>Tipo:</b>
						</div>
						<div class="borde-izquierdo col-sm-9">
							<label>
						      <input type="checkbox"> Ida</input>
						    </label>
						    <label>
						      <input type="checkbox"> Vuelta</input>
						    </label>
						    <label>
						      <input type="checkbox"> Ida - Vuelta</input>
						    </label>
						</div>
					</div>
				</div>
			</div>
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary">Reservar</button>
      </div>
    </div>
  </div>
</div>			                 
			                </div>
			                </h:form>
						<div class="divider"></div>
						
						<ui:repeat value="#{busquedaController.encontrados}" var="recorrido">
							<div class="row">
								<div class="col-sm-3">
									<div class="col-sm-4">
										<i class="profile-picture glyphicon glyphicon-user"></i>
									</div>
									<div class="col-sm-8">
										<h4><h:outputText value="#{recorrido.anfitrion.nombre}" /></h4>
										<p><h:outputText value="#{recorrido.anfitrion.cargo}" /></p>
									</div>
								</div>
								<div class="col-sm-9 borde-izquierdo" style="margin-bottom: 10px;">
									<div class="col-sm-8">
										<h4><h:outputText value="#{recorrido.fechaCompleta}" /></h4>
										<p>Ida: <b><h:outputText value="#{recorrido.horaIda}"/></b> Vuelta: <b><h:outputText value="#{recorrido.horaVuelta}"/></b></p>
										<div>
											<i class="i-inline glyphicon glyphicon-record"></i>
											<p class="inline"><h:outputText value="#{recorrido.lugarSalida}"/></p>
										</div>
										<div class="row">
											<div class="col-sm-3">
												<b>Paradas:</b>
											</div>
											<div class="borde-izquierdo col-sm-9">
												<ui:repeat value="#{recorrido.paradas}" var="parada">
													<div>
														<i class="i-inline glyphicon glyphicon-plus-sign"></i>
														<p class="inline" ><h:outputText value="#{parada}"/></p>
													</div>
												</ui:repeat>
											</div>
										</div>
										<div>
											<i class="i-inline glyphicon glyphicon-ok-circle"></i>
											<p class="inline"><h:outputText value="#{recorrido.lugarDestino}"/></p>
										</div>
									</div>
									<div class="col-sm-4">
										<div>
											<p style="float:left;margin-top:5px;">Asientos Disponibles:</p>
											<h2 style="float:right;margin-top:0;"><h:outputText value="#{recorrido.asientosDisponibles}"/></h2>
										</div>
											<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Reservar Cupo</button>
											<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
											  <div class="modal-dialog" role="document">
											    <div class="modal-content">
											      <div class="modal-header">
											        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
											        <h4 class="modal-title" id="myModalLabel">Reservar Cupo</h4>
											      </div>
											      <div class="modal-body">
											        <div class="row">
														<div class="col-sm-3">
															<div class="col-sm-4">
																<i class="profile-picture glyphicon glyphicon-user"></i>
															</div>
															<div class="col-sm-8">
																<h4><h:outputText value="#{recorrido.getPersona().getNombre()}" /></h4>
																<p><h:outputText value="#{recorrido.getPersona().getCargo()}" /></p>
															</div>
														</div>
														<div class="col-sm-9 borde-izquierdo" style="margin-bottom: 10px;">
															<div class="col-sm-8">
																<h4><h:outputText value="#{recorrido.getFhIda()}" /></h4>
																<p>Ida: <b><h:outputText value="#{recorrido.getFhIda()}"/></b> Vuelta: <b><h:outputText value="#{recorrido.getFhVuelta()}"/></b></p>
																<div>
																	<i class="i-inline glyphicon glyphicon-record"></i>
																	<p class="inline"><h:outputText value="#{recorrido.getFuente()}"/></p>
																</div>
																<div class="row">
																	<div class="col-sm-3">
																		<b>Paradas:</b>
																		<i class="i-inline glyphicon glyphicon-record"></i>
																	</div>
																	<div class="borde-izquierdo col-sm-9">
																		<ui:repeat value="#{recorrido.getParadas()}" var="parada">
																			<div>
																				<i class="i-inline glyphicon glyphicon-plus-sign"></i>
																				<p class="inline" ><h:outputText value="#{parada}"/></p>
																			</div>
																		</ui:repeat>
																	</div>
																</div>
																<div class="row">
																	<div class="col-sm-3">
																		<b>Tipo:</b>
																	</div>
																	<div class="borde-izquierdo col-sm-9">
																		<label>
																	      <input type="checkbox"> Ida</input>
																	    </label>
																	    <label>
																	      <input type="checkbox"> Vuelta</input>
																	    </label>
																	    <label>
																	      <input type="checkbox"> Ida - Vuelta</input>
																	    </label>
																	</div>
																</div>
															</div>
														</div>
													</div>
											      </div>
											      <div class="modal-footer">
											        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
											        <button type="button" class="btn btn-primary">Reservar</button>
											      </div>
											    </div>
											  </div>
											</div>		
									</div>
								</div>
							</div>
							<div class="dividerDelgado"></div>
						</ui:repeat>
					</div>				
				</div>
		</ui:define>
</ui:composition>
</html>
