<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"> 

<ui:composition template="resources/templates/template.xhtml">
		<ui:define name="contenido">
			<div class="contenido">	
				<h1>
					<h:outputText value="#{controllerBusqueda.respuesta}" />
				</h1>
			</div>
		</ui:define>
</ui:composition>
</html>

