<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"> 

<ui:composition template="resources/templates/template.xhtml">
		<ui:define name="contenido">
			<div class="contenido">	
				<div class="jumbotron col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2" style="background: #dcdcdc;">
        			<h1 style="margin-bottom: 40px;">Buscar Recorrido</h1>
		            <h:form id="formBusqueda">
		                <div class="row">
		                    <div class="form-group col-sm-3">
		                        <h:outputLabel styleClass="control-label" value="Desde: " />
								<h:inputText styleClass="form-control" id="desde" value="#{busquedaModel.desde}"/>
		                    </div>
		                    <div class="form-group col-sm-2">
		                        <a href="#" id="change-button" style="margin-top: 27px;" class="btn btn-default"><span class="glyphicon glyphicon-transfer"></span></a>
		                    </div>
		                    <div class="form-group col-sm-3">
		                        <h:outputLabel styleClass="control-label" value="Hasta: " />
								<h:inputText styleClass="form-control" id="hasta" value="#{busquedaModel.hasta}"/>
		                    </div>
		                  <div class="form-group date col-sm-4">
		                    <h:outputLabel styleClass="control-label" value="Fecha: " />
			                  <div class="input-group date input-sidebar">
			                  		<h:inputText styleClass="form-control input-medium"  id="fecha" value="#{busquedaModel.fecha}"/>
			                      <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i>
			                      </span>
			                  </div>
		                  </div>
		                </div>
		                <h:commandButton styleClass="btn btn-primary btn-sm btn-block actionbutton" value="Buscar" action="#{busquedaController.buscar}" />
		            </h:form>
    			</div>
			</div>
		</ui:define>
</ui:composition>
</html>
