<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"> 

<ui:composition template="resources/templates/template.xhtml">
		<ui:define name="contenido">
			<div class="contenido">	
				<div class="col-sm-12" style="margin-bottom: 60px;">
					<h1>Publicar Recorrido</h1>
					<h:form id="formPublicar">
					<div class="row">
						<div class="col-sm-5" style="padding-right: 0">
							<div class="card">
								<h3>Puntos de Encuentro</h3>
								<div class="divider"></div>
								<h:outputLabel value="Salida:" />
								<h:selectOneMenu id="salida" value="#{publicarModel.fuente}">
									<f:selectItem itemLabel="Villavicencio" itemValue="villavicencio" />
									<f:selectItem itemLabel="Unillanos" itemValue="unillanos" />
								</h:selectOneMenu>
								<h:outputLabel value="Destino:" />
								<h:selectOneMenu id="destino" value="#{publicarModel.destino}">
									<f:selectItem itemLabel="Unillanos" itemValue="unillanos" />
									<f:selectItem itemLabel="Villavicencio" itemValue="villavicencio" />
								</h:selectOneMenu>
							</div>
							<div class="card">
								<h3>Fecha y Hora</h3>
								<div class="divider"></div>
								<h:outputLabel value="Ida:" />
								<div class="row">
									<div class="col-sm-6">
										<div class="input-group date input-sidebar">
					                  		<h:inputText styleClass="form-control input-medium"  id="fecha" value="#{publicarModel.fhIda}"/>
					                      	<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i>
					                      	</span>
					                  	</div>
				                  	</div>
				                  	<div class="col-sm-6">
				                  		<h:inputText styleClass="form-control col-sm-5" id="horas" type="number" value="00"/>
				                  		<h:outputLabel value=":" style="font-size:18px"/>
				                  		<h:inputText styleClass="form-control col-sm-5" id="minutos" type="number" value="00"/>
				                  	</div>
			                  	</div>
							</div>
							<div class="card">
								<h3>Disponibilidad de Asientos</h3>
								<div class="divider"></div>
								<h:outputLabel value="Asientos Libres:" />
								<h:selectOneMenu id="asientos" value="#{publicarModel.cupos}">
									<f:selectItem itemLabel="1" itemValue="1" />
									<f:selectItem itemLabel="2" itemValue="2" />
									<f:selectItem itemLabel="3" itemValue="3" />
									<f:selectItem itemLabel="4" itemValue="4" />
									<f:selectItem itemLabel="5" itemValue="5" />
									<f:selectItem itemLabel="6" itemValue="6" />
									<f:selectItem itemLabel="7" itemValue="7" />
									<f:selectItem itemLabel="8" itemValue="8" />
									<f:selectItem itemLabel="9" itemValue="9" />
									<f:selectItem itemLabel="10" itemValue="10" />
								</h:selectOneMenu>
							</div>
						</div>
						<div class="col-sm-4" style="padding-left: 0;">
							<div class="card">
								<h3>Paraderos</h3>
								<h:inputText styleClass="form-control" id="paradero" type="number" value="Alkosto"/>
								<button class="btn btn-defaul" id="nuevoparadero">Nuevo Paradero</button>
							</div>
						</div>
						<div class="col-sm-3">
						</div>
					</div>
					</h:form>
				</div>
			</div>
		</ui:define>
</ui:composition>
</html>

